.sideMenu {
    float: left;
}

.menuItem {
    float: inherit;
    border-bottom-style: solid;
    border-color: black;
    margin: 5px;
    color: rgb(203, 190, 68);
}

.menuItem::first-letter {
    font-family: Georgia;
    color: khaki;
    font-size: 25px;
    line-height: 8px;
    padding-top: 4px;
}

h2 {
    font-weight: bolder;
    color: gold;
}

hr {
    margin: 6px;
    border: 2px solid springgreen;
    border-radius: 25px;
}

html {
    background: linear-gradient(to right, #7474bf, #348ac7;)
}