body {
    counter-reset: buttonNumber;
}
button{
    font-size: 40px;
    padding: 40px;
    border-radius: 40px;
    background-image: linear-gradient(pink, orange, pink);
    color: white;
    text-transform: capitalize;
    font-family: arial;
    font-weight: bold;
    width: 100%;
    height: 100%;
}
button::after{
    counter-increment: buttonNumber;
    content: "I am button number " counter(buttonNumber);
    }
body {
    counter-reset: dwightSays;
}
div p {
    background-color:palegreen;
    color: white;
    height: 400px;
    width: 150px;
    max-width: 300px;
}
p::before{
    counter-increment: dwightSays;
    content: "Things Dwight says number " counter(dwightSays) ":";
    color: blue
}
