#div1{
    border-style: solid;
    border-color: #800080;
    border-width: 12px;
    padding: 20px;
}

#div2{
    border-style: solid;
    border-color: red;
    border-width: 12px;
}

img {
    float: center;
}

#div1::after {
    content: "Miss Piggy royalty";
    clear: both;
    display: block;
    text-align: right;
}