body {
background-color: palegoldenrod;
}

li {
    list-style: none;
    float: left;
    border-style: solid;
    border-color: black;
    background: linear-gradient(to right, #a8c0ff, #3f2b96);
    color: white;
    padding: 10px;
}

#set1 {
    text-align: center;
}
#set2 {
    float: left;
    padding: 30px;
}

#set3 {
    box-sizing: content-box;
    padding: 30px;
}

.flexItems {
    display: flex;
    background-color: burlywood;
}

#set2, #set3 {
    padding: 10px;
}