a:link, a:visited {
    color: (internalvalue);
    text-decoration: underline;
    cursor: grab;
}
a:link:active, a:visited:active {
    color: (internalvalue)
}

.all-browser {
    margin: 0;
    padding: 5px;
    background-color: lightgray;
}

.browser {
    background: white;
}

.browser > h2, p {
    margin: 4px;
    font-size: 85%;
}

aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightcyan;
}