table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    background-color: #ffc1cc;
    width: 300px;
}

.Para3 {
    background-color: rgb(195, 188, 188);
}
#firsthead{
    color: green;
}
#firstbody {
    color: blue;
}
#firstfoot {
    color: red;
}

#spacious {
    border: 2px dotted rgb(194, 233, 18);
    background-color: rgba(239, 71, 73, 0.51);
    width: 75%;
    text-align:center;
}

.myClass {
    color: red;
    background-color: dodgerblue;
    padding: 20px;
    text-align: center;
    margin: 10px;
}