kbd {
    border-radius: 2px;
    padding: 2px;
    border: 1px solid red;
}

label {
    cursor: wait;
    font-size: 15px;
    color: aqua;
}

fieldset {
    background-color: rgba(24, 24, 105, 0.574);
}

legend {
    background-color: darkblue;
    color:whitesmoke;
    padding: 5px 7px;
}
 input {
    margin: 0.5px;
 }

 main {
    margin: 0;
    padding: 5px;
    background-color:rgba(0, 0, 255, 0.322);
 }

 .browser {
    background: whitesmoke;
 }

 .browser > h2, p {
    margin: 4px;
    font-size: 90%;
    color: black;
    padding: 2px;
 }

 mark {
    background-color: rgba(255, 0, 0, 0.547);;
    color: black;
 }